.main-content #comments { 
    margin-top: rem-calc(20);
    .comment-list {
        margin-left: 0;
        list-style: none;

        .comment-body {
            @include breakpoint(medium) {
                @include media-object-container;
            }

            border-bottom: 1px solid $almost-white;
            padding-bottom: rem-calc(20);

            .comment-author {
                @include xy-cell(full, $gutter-output: false);

                @include breakpoint(medium) {
                    @include media-object-section;
                    @include media-object-stack;
                }

                img { 
                    @include thumbnail;
                    float: right;

                    @include breakpoint(medium) {
                        float: none;
                    }
                }

                cite.fn{
                    font-style: normal;
                    &::before {
                        display: none;
                    }
                }

                time {
                    font-size: rem-calc(12);
                }

                @include clearfix;
            }
            .comment-content {
                
                clear: both;
                @include breakpoint(medium) {
                    clear: none;
                }

                @include xy-cell(full, $gutter-output: false);

                @include breakpoint(medium) {
                    @include media-object-section;
                    @include media-object-stack;
                }
            }
        }
    }
}