$header-overlay-color: rgba(50, 0, 0, 0.33);

.frontpage-header-wrapper {
    padding-top: rem-calc(50);
    padding-bottom: rem-calc(50);
    
    background: linear-gradient($header-overlay-color, $header-overlay-color), url('../images/header.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include breakpoint(large) {
        padding-top: rem-calc(100);
        padding-bottom: rem-calc(100);
    }
}

.frontpage-header {
    @include xy-grid;
    @include xy-grid-container();
}

.frontpage-header-logo {
    @include xy-cell(12);
    @include breakpoint(large) {
        @include xy-cell(7);
        @include flex-align-self(middle);
    }

    @include flex;
}

.frontpage-header-contents {
    @include xy-cell(12);
    @include breakpoint(large) {
        @include xy-cell(5);
    }
    color: $white;
}


$logo-font-base-size-small: 30;
$logo-font-base-size-mid: 50;
$logo-font-base-size-large: 65;

$logo-text-spacing-small: $logo-font-base-size-small / 2;
$logo-text-spacing-mid: $logo-font-base-size-mid / 2;
$logo-text-spacing-large: $logo-font-base-size-large / 2;

$logo-img-size-small: $logo-font-base-size-small * $vak-font-to-logo-ratio;
$logo-img-size-mid: $logo-font-base-size-mid * $vak-font-to-logo-ratio;
$logo-img-size-large: $logo-font-base-size-large * $vak-font-to-logo-ratio;

.frontpage-logo-title {
    font-size: rem-calc($logo-font-base-size-small);
    line-height: rem-calc($logo-img-size-small);

    @include breakpoint(medium) {
        font-size: rem-calc($logo-font-base-size-mid);
        line-height: rem-calc($logo-img-size-mid);
    }

    @include breakpoint(large) {
        font-size: rem-calc($logo-font-base-size-large);
        line-height: rem-calc($logo-img-size-large);
    }
}

.frontpage-logo {
    width: rem-calc($logo-img-size-small);
    height: rem-calc($logo-img-size-small);
    margin-right: rem-calc($logo-text-spacing-small);

    @include breakpoint(medium) {    
        width: rem-calc($logo-img-size-mid);
        height: rem-calc($logo-img-size-mid);
        margin-right: rem-calc($logo-text-spacing-mid);
    }

    @include breakpoint(large) {
        width: rem-calc($logo-img-size-large);
        height: rem-calc($logo-img-size-large);
        margin-right: rem-calc($logo-text-spacing-large);
    }
}

.frontpage-logo-title {
    @include flex-order(1);
    font-weight: bold;
    color: $white;
}

.frontpage-logo {
    @include flex-order(0);
    margin-right: 0.5em;
}

.frontpage-header-subtitle {
    font-size: rem-calc(36);
    margin-top: rem-calc(18);

    @include breakpoint(medium) {
        font-size: rem-calc(48);
        margin-top: rem-calc(24);
    }
}

.frontpage-header-body {
    font-size: rem-calc(18);
    margin-bottom: rem-calc(27);    

    @include breakpoint(medium) {
        font-size: rem-calc(24);
        margin-bottom: rem-calc(36);    
    }
}

.frontpage-header-small {
    font-size: rem-calc(15);
    margin-top: rem-calc(24);

    @include breakpoint(medium) {
        font-size: rem-calc(20);
        margin-top: rem-calc(32);
    }
}

$frontpage-cta-color: $vak-orange;

.frontpage-cta-button {
    font-weight: bold;
    @include button(
        $background: transparentize($frontpage-cta-color, 0.25), 
        $background-hover: transparentize($frontpage-cta-color, 0.05), 
        $color: $almost-white
    );
    border: 2px solid darken($frontpage-cta-color, 8%);
    //@include button-expand;
    //@include button($background: $almost-white, $background-hover: $white, $color: $almost-white, $style: hollow);
}

.frontpage-main-features {
    @include xy-grid();
    @include breakpoint(medium) {
        @include xy-grid-layout(2, '.frontpage-main-feature', $gutter-position: right);
    }
}

.frontpage-main-feature {
    @include card-container($vak-blue, $white);
    &:nth-child(4n) {
        background-color: $vak-red;
    }
    &:nth-child(4n+1) {
        background-color: $vak-orange;
    }
    &:nth-child(4n+2) {
        background-color: $vak-blue;
    }
    &:nth-child(4n+3) {
        background-color: $vak-teal;
    }
}

.main-feature-content {
    @include card-section;

    a {
        color: lighten($vak-blue, 60%);
    }
}


// Members
$member-avatar-size-small: 50px;
$member-avatar-size: 72px;

.frontpage-member-avatar {
    width: $member-avatar-size-small;
    height: $member-avatar-size-small;
    border-radius: $member-avatar-size-small / 2;

    @include breakpoint(medium) {
        width: $member-avatar-size;
        height: $member-avatar-size;
        border-radius: $member-avatar-size / 2;
    }
}

.frontpage-members-list {
    @include xy-grid();
    @include breakpoint(medium) {
        @include xy-grid-layout(2, '.frontpage-member', $gutter-position: bottom right);
    }
    @include breakpoint(large) {
        @include xy-grid-layout(3, '.frontpage-member', $gutter-position: bottom right);
    }
}

.frontpage-member {
    @include card-container($white);
    padding-top: rem-calc(16);
    padding-bottom: rem-calc(16);

    @include xy-grid;
}

.frontpage-member-info {
    @include xy-cell(4);
    text-align: center;
}

.frontpage-member-quote {
    @include xy-cell(8);

    padding: 0;
    border-left: none;
    color: $vak-black;

    font-size: rem-calc(14);
}


.frontpage-member-name {
    font-size: rem-calc(30);
    margin-bottom: 0;
    font-weight: bold;
}

.frontpage-member-title {
    font-size: rem-calc(16);
    margin-top: 0;
    margin-bottom: 0;
}

.frontpage-member-since {
    font-size: rem-calc(12);
    margin-bottom: 0;
}

hr.frontpage-splitter {
    border-bottom: 1px solid #e6e6e6;
    margin: 3em 0;
}