#post-1246 .entry-content {
    .join-wrapper {
        @include xy-grid;
    }

    .join-content {
        @include xy-cell(12, false);
        @include breakpoint(large) {
            @include xy-cell(8, false);
        }
    }

    .join-sidebar {
        @include xy-cell(12, false);
        @include breakpoint(large) {
            @include xy-cell(4, left);
            @include xy-gutters(left);
        }
        @include callout-base;
        @include callout-style($vak-blue);

        h2 {
            font-size: rem-calc(32);
            font-weight: bold;
        }
        h3 {
            font-size: rem-calc(24);
            margin-top: rem-calc(24);
        }
        p {
            font-size: rem-calc(14);
        }
    }
}
