// Generic VAK settings
$vak-font-to-logo-ratio: 2.66;

// Utilities

@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Contact form related styling

.input-group-field .wpcf7-form-control {
    margin-bottom: 0;
}

.input-group-label.small-12 {
    border-right: $input-prefix-border;
}

.input-group-field.small-12 .wpcf7-form-control {
    @include breakpoint(medium down) {
        padding-left: 16px;
    }
}

.wpcf7-submit {
    @include button(true);
}

// Widget fixes
.widget .widget_facebook_likebox {
    @include responsive-embed(default);
}

.widget h6 {
    font-weight: bold;
}

// VAK styling
.more-link {
    @include button($expand: true, $background: $vak-blue, $background-hover: lighten($vak-blue, 5%), $color: $white);
}

.edit-link a {
    @include button($background: $vak-orange, $background-hover: lighten($vak-orange, 5%), $color: $white);
}

// Join 
#post-1246 .entry-content {
    .join-wrapper {
        @include xy-grid;
    }

    .join-content {
        @include xy-cell(12, false);
        @include breakpoint(large) {
            @include xy-cell(8, false);
        }
    }

    .join-sidebar {
        @include xy-cell(12, false);
        @include breakpoint(large) {
            @include xy-cell(4, left);
            @include xy-gutters(left);
        }
        @include callout-base;
        @include callout-style($vak-blue);

        h2 {
            font-size: rem-calc(32);
            font-weight: bold;
        }
        h3 {
            font-size: rem-calc(24);
            margin-top: rem-calc(24);
        }
        p {
            font-size: rem-calc(14);
        }
    }
}

$topbar-title-font-size: 22;
$topbar-text-spacing: $topbar-title-font-size / 2;
$topbar-logo-img-size: $topbar-title-font-size * $vak-font-to-logo-ratio * 0.75;

.topbar-logo-wrapper {
    padding-top: 6px;
    padding-left: 8px;

    @include flex;

    .topbar-logo-title {
        font-size: rem-calc($topbar-title-font-size);
        line-height: rem-calc($topbar-logo-img-size);
        color: $white;
        font-weight: bold;
        @include flex-order(1);
    }

    .topbar-logo {
        @include flex-order(0);
        width: rem-calc($topbar-logo-img-size);
        height: rem-calc($topbar-logo-img-size);
        margin-right: rem-calc($topbar-text-spacing);
        shape-rendering: crispEdges;
    }
}

.nav-previous a,
.nav-next a {
    @include button($background: $vak-blue, $style: hollow);

    .fa {
        font-size: rem-calc(12);
    }
}

$nav-fa-space: 8px;

.nav-previous a .fa {    
    margin-right: rem-calc($nav-fa-space);
}

.nav-next a .fa {
    margin-left: rem-calc($nav-fa-space);
}

span.label a {
    color: inherit;
}

.looking-for-members-sidebar-widget { // This class is added to a WYSIWYG widget via plugin
    background-color: lighten($vak-blue, 60%);
    padding: rem-calc(20);

    .sidebar-join-button {
        font-weight: bold;
        $join-buttom-color: $vak-red;
        @include button(
            $background: transparentize($join-buttom-color, 0.25), 
            $background-hover: transparentize($join-buttom-color, 0.1), 
            $color: $white
        );
        @include button-expand;
        margin-bottom: 0;
    }
}

.sidebar .widget {   
    margin-bottom: rem-calc(30);
    h6 {
        font-size: rem-calc(30);
        font-weight: normal;
    }
}

.sidebar .widget_recent_entries {
    li {
        margin-bottom: rem-calc(9);
    }
    li a {
        font-size: rem-calc(18);
    }
    .post-date {
        display: block;
        font-size: rem-calc(14);
        font-style: italic;
    }
}