.footer-container {
  margin: 0 auto;
  margin-top: rem-calc(60);
}

.footer {
  @include xy-grid-container;
  @include xy-grid;
  padding: rem-calc(30) 0;

  section, .widget {
    margin-bottom: rem-calc(30);
    
    @include xy-cell(12);
    @include breakpoint(medium) {
      @include xy-cell(4);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
