// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.mobile-menu,
.mobile-off-canvas-menu {
  .menu .is-active > a {
    background-color: $almost-white;
  }
}

.site-header {
  background-color: $topbar-background;
}

.top-bar {
  .menu .menu-item {
    & > a { 
      color: $almost-white;
    }
    & > a:hover {
      color: $white;
    }
  }
  .menu .menu-item.current-menu-item {
    & > a, & > a:hover { 
      background-color: $vak-teal;
      color: $white;
    } 
  }
  // this is very hackish
  .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    border-color: $white transparent transparent;
    margin-right: 5px;
  }
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}
